.intro {
  box-sizing: border-box;
  min-height: 500px;
  padding-top: 176px;

  background-color: #87cefa;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: @tablet-width) {
    min-height: 638px;
    padding-top: 268px;
  }

  @media (min-width: @desktop-width) {
    min-height: 658px;
  }
}

// Фоны для JPG
.no-webp .intro,
.intro {
  background-image: url("../img/background-img-webp/main_mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-img-webp/main_mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/background-img-webp/main_tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-img-webp/main_tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/background-img-webp/main_desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-img-webp/main_desktop@2x.jpg");
    }
  }
}

// Фоны для WEBP
.webp .intro {
  background-image: url("../img/background-img-webp/main_mobile@1x.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-img-webp/main_mobile@2x.webp");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/background-img-webp/main_tablet@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-img-webp/main_tablet@2x.webp");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/background-img-webp/main_desktop@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-img-webp/main_desktop@2x.webp");
    }
  }
}

.intro__box {
  .padding();
  .config-size-and-position();
  margin: 0 auto;

  color: #ffffff;

  @media (min-width: @desktop-width) {
    padding-left: 199px;
  }
}

.intro__title {
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #f9fbfd;
  text-shadow: rgb(1, 0, 42) 0 0 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;

    font-size: 50px;
    line-height: 61px;
  }

  @media (min-width: @desktop-width) {
    font-size: 54px;
    line-height: 66px;
  }
}

.intro__title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.intro__subtitle {
  text-shadow: rgb(1, 0, 42) 0 0 3px;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.intro__subtitle br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
