{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "function-calc-no-invalid": false,
    "declaration-no-important": true,
    "indentation": [2, { "ignore": ["inside-parens"] }]
  }
}
